h1,h2,h3,h4{
    color:#B22222;
    font-size: 60px;
    text-align: center;
}
div{
    font-size: 30px;
    color:whitesmoke;
    text-shadow: 2px 2px 5px black;
}
body{
    background-color: #000000;
}
.container{
    background-color: #333333;
    width: 90%;
    max-width: 1200px;

    margin: 20px auto;
    padding: 20px;

    border-radius: 10px;
}