h1,h2,h3,h4{
    color:#B71C1C;
    font-size: 60px;
}
div{
    font-size: 30px;
    color:#00BFFF;
}
body{
    background-color: #000000;
}

#container {
    color: aliceblue;
    text-shadow:
0 0 5px #00D9FF,
0 0 15px #00D9FF,
0 0 30px #00D9FF;
}